<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café Paris</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/scripts.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>
        <!-- <img src="/assets/servings.svg" alt="Fork and knife icon" class="logo"> -->
        Café Paris • Réservations
      </h1>
      <div id="chat-box" class="chat-box"></div>
      <div class="mic-button-container">
        <button class="mic-button" id="mic-button">
            <img src="/assets/phone.svg" alt="Microphone icon" class="mic-icon">
        </button>
      </div>
      <div class="booking-details">
        <span id="user-name" class="booking-info empty" ">Nom</span>
        <span id="number-of-clients" class="booking-info empty" ">Nb. personnes</span>
        <span id="booking-date" class="booking-info empty" ">Date</span>
        <span id="booking-time" class="booking-info empty" ">Heure</span>
      </div>
    </div>
  </body>
</html>